  body {
    padding: 5%;
  }
  .podcast-player-player-controls {
    box-sizing: border-box;
    background: #000;
    color: #fff;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    padding: 5px;
  }

  button {
    background: #2a2a2a;
    color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    line-height: 22px;
    -webkit-appreance: none;
    min-width: 32px;
  }


  .podcast-player-time {
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: center;
    width: 4em;
  }

  .podcast-player-speed {
    width: 2.5em;
  }

  .podcast-player-download {
    font-size: 12px;
    margin-top: 0.5em;
    display: inline-block;
    color: black;    
  }
